<div class="comment">
  <span class="user"><%= link_to comment.user.name %></span>
  <div class="container">
    <div class="dialogbox">
      <div class="body">
        <span class="tip tip-up"></span>
          <div class="message">
            <span><%= comment.comment%></span>
          </div>
      </div>
    </div>
  </div>  
  <span class= "timestamp-comment">  
    Commented <%= time_ago_in_words(comment.created_at) %> ago.
  </span>
  <% if current_user?(comment.user) %>
    <%= link_to "delete", comment, method: :delete,
                                   data: {confirm: "Are you sure?"} %>
  <% end %>
</div>